<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>
<body>
{{#if error }}
<div style='background-color: red'>{{ error }}</div>
{{/if}}
{{{ body }}}
</body>
</html>
