<h1>Your Notes</h1>
<br />
<ul>
{{#each notes}}
  <li><form action="remove_note" method="POST"><p>
        {{this.body}}
        <span style="float: right"><input type="hidden" name="note_id" value="{{this.id}}" /><input type="submit" value="delete"/></span>
      </p></form>
   </li>
{{else}}
  <li>No notes yet</li>
{{/each}}
</ul>
<hr />
<div class="centering">
<form action="append_note" method="POST">
<p>
  <input type="text" name="note_body" />
  <input type="submit" value="add note" />
</p>
</form>
</div>
<hr />
<div class="container"><div class="row">
<div class="col" style="text-align: left">
  <form action="logout" method="POST">
  <input type="submit" value="logout" />
  </form>
</div>
<div class="col" style="text-align: right">
  <form action="delete_account" method="POST">
  <input type="submit" value="delete account" />
  </form>
</div>
</div></div>
